/* Grid Effects */
body{
  display: grid;
  grid-template-rows: 50px 400px 100px 1fr 50px;
  grid-template-areas: "header" "trainContainer" "snacksFilter" "snacksDisplay" "footer";
}

.header{
grid-area: header;
grid-row: 1 / 2;
}

.trainContainer{
grid-area: trainContainer;
  grid-row: 2 / 3;
}

.snacksFilter{
grid-area: snacksFilter;
  grid-row: 3 / 4;
}

.snacksDisplay{
grid-area: snacksDisplay;
  grid-row: 4 / 5;
}

.footer{
grid-area: footer;
  grid-row: 5 / 6;
}















/* Train Effects */
.trainContainer{
  width: 225px;
  margin:auto;
  overflow: hidden;
}

.trainSlide{
  display: flex;
  height: 300px;
}
