/* Grid Effects */
body{
  display: grid;
  grid-template-rows: 50px 400px 100px 1fr 50px;
  grid-template-areas: "header" "trainContainer" "snacksFilter" "snacksDisplay" "footer";
}

.header{
grid-area: header;
grid-row: 1 / 2;
}

.trainContainer{
grid-area: trainContainer;
  grid-row: 2 / 3;
}

.snacksFilter{
grid-area: snacksFilter;
  grid-row: 3 / 4;
}

.snacksDisplay{
grid-area: snacksDisplay;
  grid-row: 4 / 5;
}

.footer{
grid-area: footer;
  grid-row: 5 / 6;
}

/* Color Effects */
/*
neutral white - #fdfbf7
neutral black - #0e0f15;
neutral beige - #f4e7ce
secondary blue - #203ad8;
accents pink - #ff2498;
accents yellow- #f2a51c
*/

.header{
  background-color: #203ad8;
  color: #fdfbf7;
}

.trainArea{
  background-color: #f4e7ce;
  color: #101118;  
}

.snacksFilter, .snacksDisplay{
  background-color: #fdfbf7;
  color: #101118;   
}

.footer{
  background-color: #203ad8;
  color: #fdfbf7;
}

/* Snacks Filter Effects */
.snacksFilter ul{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.snacksFilter li{
color: #fdfbf7;
list-style: none;
padding: 15px;
border-radius: 25px;
background-color: #203ad8;
}










/* Train Effects */
.trainContainer{
  width: 225px;
  margin:auto;
  overflow: hidden;
}

.trainSlide{
  display: flex;
  height: 300px;
}
