/* font size */
*{
font-family: "Bubblegum Sans";
margin: 0px;
  padding: 0px;
}
/* Header Style */
.header{
  width: 100%;
}

.header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header li{
  list-style: none;
  text-decoration: none;
}

.header a{
  color:  #fdfbf7;
}

.header a:hover{
  color: #0e0f15;
}

#mainTitle{
  font-weight: bold;
}

/* Footer Style */

.footer{
  width: 100%;
}

.footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer li{
  list-style: none;
}

.footer a{
  color:  #fdfbf7;
}

.footer a:hover{
  color: #0e0f15;
}

#copyTitle{
  font-weight: bold;
}
 
.header, .footer{
padding-top:16px;
padding-bottom:16px;
}
